body {
  background-color: #dedede;
}

h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 32px;
}

a {
  color: #000;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

p {
  font-size: 25px;
  font-family: Arial, sans-serif;
}

.container img {
  aspect-ratio: 1 / 1;
  width: 100%;
  border: #000 solid 1rem;
}

p {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 95%;
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
}

@media screen and (min-width: 772px) {
  .container {
    grid-template-columns: 45% 45%;
  }
  .container img {
    border-radius: 50%;
  }
  .container div:last-child {
    grid-column: 1 / span 2;
  }

  .container div:last-child img {
    aspect-ratio: unset;
  }
}

@media screen and (min-width: 992px) {
  .container img {
    border-radius: 0;
  }
  .container div:nth-child(3n) {
    grid-column: 1 / span 2;
  }

  .container div:nth-child(3n) img {
    aspect-ratio: unset;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #ffffff;
  }

  a {
    color: #bb86fc;
  }

  .container img {
    border: #ffffff solid 1rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    scroll-behavior: auto !important;
    animation: none !important;
  }
}
/* div img{
    width:150px;
    height: 150px;
    display:block;
    margin:auto;
} */

/* div{
  display: inline-block;
  width: 24%;
  margin: 5px;
  padding: 2px;
} */

/* 
main {
    border: 5px #000 solid;
    margin: 10px;
}
 */
/* 

.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
 */
/* img{
    width: 200px;
    height: 200px;
    padding: 5px;
} */

/* .child {
    position: relative;
    display: inline-block;
    border: 5px black solid;
    margin: 5px;
    border-radius: 5px;
} */

/* 

.label {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
} */
/* 
.button {
    display: inline-block;
    border: 2px solid #000;
    padding: 5px;
    border-radius: 25px;
}
 */
/* 
.button:hover {
    background-color:#fff;
} */

/* 
footer {
    display: flex;
    justify-content: center;
} */

/* 
header {
    border-radius: 5px;
    border: 5px #000 solid;
    margin: 10px;
} */

/* 
.label {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
} */
/* 
.child:hover .label {
    display: block;
} */
