body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
}
header{
  background-color: rgb(255, 255, 255);
}
nav{
  background-color: rgb(216, 228, 211);
}
main{
  background-color: rgb(255, 250, 240);
  font-size: 150%;
}
footer{
  background-color: antiquewhite;
}
/*
li{
  display: inline;
  width: auto;
}
*/
h1{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(12, 76, 3);
}
p{
  line-height: 150%;
}
nav{
  display: inline-block;
  width: 80%;
}
nav img{
  width: 10%;
}
.grid{
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
}
.grid img{
  width: 25%;
  height: auto;
}
.flex{
  display: flex;
  justify-content: space-around;
}

nav ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.current{
  font-weight: bold;
}